.btn:active, .btn.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
.btn-social.btn-lg {
padding-left: 35px !important;
}
.btn-bitshares {
color: #fff;
background-color: #01bbf4;
}
.btn-block {
display: block;
width: 100%;
}
.btn-lg, .btn-group-lg>.btn {
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
border-radius: 6px;
}
.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.btn-social a,.btn-social a:hover
{
	color:#fff !important;text-decoration:none !important;
}
.btn-social:hover,.btn-social:focus,.btn-social.focus
{
	color:#fff !important;text-decoration:none !important;
}
.btn-social {
position: relative;
padding-left: 44px;
text-align: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.btn-social.btn-lg :first-child {
line-height: 45px;
width: 45px;
font-size: 1.8em;
}
.btn-social>:first-child {
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 32px;
line-height: 34px;
font-size: 1.6em;
text-align: center;
border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-social>img {
vertical-align: middle;
border: 0;
}
.text-center {
text-align: center;
}
